{% extends "layout.html" %}

{% block title %}
    Transaction history
{% endblock %}

{% block main %}
    <h1>Transaction history</h1>
    {% if transactions|length == 0 %}
    <p>- no transactions found -</p>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th width="75">Buy/Sell</th>
                <th width="100">Symbol</th>
                <th width="100">Amount</th>
                <th width="100">Price</th>
                <th width="150">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr class="{{ 'buy' if transaction.amount > 0 else 'sell' }}">
                <td>{{ 'Buy' if transaction.amount > 0 else 'Sell' }}</td>
                <td>{{ transaction.stock_symbol }}</td>
                <td>{{ transaction.amount | abs }}</td>
                <td>{{ transaction.price | usd }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
